.todo-list{
    margin: 3rem;
    border: 1px solid black;
    border-radius: 15px;
    width: fit-content;
    margin: auto;
    padding: 2rem;
    padding-right: 5rem;
}
ul {
    list-style: none;
    margin: auto;
    gap: 20px;
    width: 580px;
}
li {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin: 15px 0;
    padding: 10px 18px;
    border-radius: 10px;
}
li button {
    padding: 8px 8px;
    font-size: 0.9rem;
    border-radius: 7px;
    border: 1px solid black;
    color: white;
    background-color: crimson;
    cursor: pointer;
    transition: border 1s;
}
li button:hover {
    border: none;
}