body {
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
    font-family: sans-serif;
}
.todo-container{
    margin: 2rem;
}
.todo-container form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.todo-container input {
    width: 400px;
    height: 35px;
    font-size: 1.4rem;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid black;
}
.todo-container button {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    background-color: crimson;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    transition: border 1s;
}
.todo-container button:hover{
    border: none;
}